@keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
      }
    body{
      height: 100vh;
      position: relative;
      margin: 0;
      /* background: radial-gradient(purple,black); */
      background: linear-gradient(90deg, blue, red);
      background-size: 200% 200%;
      animation: AnimationName .5s ease infinite;
    }
    
    .circle{
      position: absolute;
      top: 200px;
      left: 200px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      /* background-color: white; */
      background: radial-gradient(white,#edf1f5);
      border: 35px solid magenta;
      z-index: 2;
    }
    .face{
      position: absolute;
      top: 100px;
      left: 130px;
      border-radius: 200px 200px 0 0;
      height: 650px;
      width: 500px;
      background: radial-gradient(white,#e3e6e8);
      z-index: 1;
    }
    .circle.right{
      top: 200px;
      left: 450px;
      z-index: 2;
    }

    .circle.nose{
      top: 400px;
      left: 330px;
      border: 2px;
      background: red;
      z-index: 2;
    }
    .small-circle{
      position: absolute;
      top: -10px;
      left: -10px;
      background-color: black;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      z-index: 2;
    }
    .rect{
      height: 100px;
      width: 300px;
      position: absolute;
      top: 540px;
      left: 200px;
      background-color: black;
      border: 25px solid red;
      border-radius: 200px 200px 0 0;
      z-index: 2;
    }
    .top.left{
      height: 30px;
      width: 200px;
      left: 170px;
      top: 150px;
      z-index: 3;
      border: 0;
      border-radius: 0 75px 15px 200px;
      background: linear-gradient(#ffcc00,orange);
    }
    .top.right{
      height: 30px;
      width: 200px;
      left: 400px;
      top: 200px;
      z-index: 3;
      border: 0;
      border-radius: 75px 0 200px 15px;
      background: linear-gradient(#ffcc00,orange);
    }
    #shirt{
      height: 500px;
      border-radius: 100px 100px 0 0;
      width: 780px;
      position: absolute;
      top: 710px;
      left: 0;
      z-index: 3;
      background: linear-gradient(lime,green);
    }
    .hair{
      position: absolute;
      height: 160px;
      width: 200px;
      top: 350px;
      z-index: 0;
      border: 0;
      background: linear-gradient(#ffcc00,orange);
    }
    .hair.left{
      left: 1px;
      border-radius: 0 70px 15px 200px;
    }
    .hair.left.up{
      left: 5px;
      top: 250px;
      border-top-right-radius: 100px;
    }
    .hair.right{
      left: 570px;
      border-radius: 70px 0 200px 15px;
    }
    .hair.right.up{
      top: 250px;
    }

    .teeth{
      position: absolute;
      height: 20px;
      width: 200px;
      background-color: #FFFF77;
    }

    .bottom-teeth{
      left: 20px;
      top: 30px;
    }

    .top-teeth{
      width: 120px;
      left: 60px;
      top: 0;
    }